{% extends "base.html" %}

{% block content %}

<div class="banner" style="background-image: url('https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg');
background-size: cover; background-position: center; height: 100vh; position: relative;">
    <div class="banner-text" style="position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%); color: white; text-align: center;">
                        <p>You have already visited this page
                            {{ num_visits }} time {{num_visits|pluralize }}
                        </p>
                        <p>The Newspaper agency has the following records count: </p>
                        <strong>Articles: </strong> {{ num_newspapers }}
                        <strong>Authors:</strong> {{ num_redactors }}
                        <strong>Topics:</strong> {{ num_topics }}
    </div>
</div>

{% endblock %}
